<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>webcam</title>
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="text/javascript">
     window.addEventListener("DOMContentLoaded", function () {
         var video = document.getElementById("video");
         var videoObj = { "video": true };
         var errBack = function (error){
                 console.log("Video capture error: " + error.message, error.code);
             };
         if (navigator.getUserMedia) {
             navigator.getUserMedia(videoObj, function (stream) {
                 video.srcObject = stream
                 video.play();
             }, errBack);
         } else if (navigator.webkitGetUserMedia) {
             navigator.webkitGetUserMedia(videoObj, function (stream) {
                 video.srcObject = window.URL.createObjectURL(stream);
                 video.play();
             }, errBack);
         } else if (navigator.mozGetUserMedia){
             navigator.mozGetUserMedia(videoObj, function (stream) {
                      video.srcObject = window.URL.createObjectURL(stream);
                     video.play();
             }, errBack);
         }
         document.getElementById("snap").addEventListener("click",function(){
                 CatchCode();
         });
     }, false);
     function CatchCode() {
         var canvans = document.getElementById("canvas");
         var video = document.getElementById("video");
         var context = canvas.getContext("2d");

         canvas.width = video.videoWidth;
         canvas.height = video.videoHeight;
         context.drawImage(video,0,0);
         var imgData = canvans.toDataURL("image/jpg");
         var base64Data = imgData.split(",")[1];

	$.ajax({
		type: 'POST',
		url: '/docamlogin',
		data: '{ "doc" : "' + base64Data + '" }',
		contentType: 'application/json',
		dataType: 'json',
		error: function(XMLHttpRequest, textStatus, errorThrown) {
			alert("Azure API Error, Try to Login Again.");
		},
		success: function(data){
			if (data['success'] == 'n') {
			    alert("Face isn't correct");
			}
			else {
				location.href = "/index";
			}
		}
	});
     }
    </script>
</head>
    <body>
        <a href="/index">Home<br></a>
            <video id="video" width="640" height="480" style="border:1px solid red" autoplay></video>
            <button id="snap">Login</button>
            <canvas style="border:1px solid red" id="canvas"></canvas>
    </body>
</html>