{% extends "base.html" %}
{% block content %}
<h1>二手车缘分系统</h1>
<h2>预测价格：{{predictprice}}</h2>
<form action="" method="post" name="query">
    {{form.hidden_tag()}}
    <p>
        Symboling:<br>
        {{form.sym(size=80)}}
        
        <br>
    </p>
    <p>
        Normalized-losses:<br>
        {{form.nor(size=80)}}
        
        <br>
    </p>
    <p>
        Make:<br>
        {{form.mak(size=80)}}
        
        <br>
    </p>
    <p>
        Fuel-type:<br>
        {{form.fue(size=80)}}
        
        <br>
    </p>
    <p>
        Aspiration:<br>
        {{form.asp(size=80)}}
        
        <br>
    </p>
    <p>
        Num-of-doors:<br>
        {{form.nod(size=80)}}
        
        <br>
    </p>
    <p>
        Body-style:<br>
        {{form.bod(size=80)}}
        
        <br>
    </p>
    <p>
        Drive-wheels:<br>
        {{form.dri(size=80)}}
        
        <br>
    </p>
    <p>
        Engine-location:<br>
        {{form.eng(size=80)}}
        
        <br>
    </p>
    <p>
        Wheel-base:<br>
        {{form.whe(size=80)}}
        
        <br>
    </p>
    <p>
        Length:<br>
        {{form.len(size=80)}}
        
        <br>
    </p>
    <p>
        Width:<br>
        {{form.wid(size=80)}}
        
        <br>
    </p>
    <p>
        Height:<br>
        {{form.hei(size=80)}}
        
        <br>
    </p>
    <p>
        Curb-weight:<br>
        {{form.cur(size=80)}}
        
        <br>
    </p>
    <p>
        Engine-type:<br>
        {{form.engt(size=80)}}
        
        <br>
    </p>
    <p>
        Num-of-cylinders:<br>
        {{form.noc(size=80)}}
        
        <br>
    </p>
    <p>
        Engine-size:<br>
        {{form.engs(size=80)}}
        
        <br>
    </p>
    <p>
        Fuel-system:<br>
        {{form.fues(size=80)}}
        
        <br>
    </p>
    <p>
        Bore:<br>
        {{form.bor(size=80)}}
        
        <br>
    </p>
    <p>
        Stroke:<br>
        {{form.stro(size=80)}}
        
        <br>
    </p>
    <p>
        Compression-ratio:<br>
        {{form.com(size=80)}}
        
        <br>
    </p>
    <p>
        Horseposer:<br>
        {{form.hor(size=80)}}
        
        <br>
    </p>
    <p>
        Peak-rpm:<br>
        {{form.pea(size=80)}}
        
        <br>
    </p>
    <p>
        City-mpg:<br>
        {{form.cit(size=80)}}
        
        <br>
    </p>
    <p>
        Highway-mpg:<br>
        {{form.hig(size=80)}}
        
        <br>
    </p>
    <p>
        Price:<br>
        {{form.pri(size=80)}}
        
        <br>
    </p>
    <p><input type="submit" value="Query"></p>
    <a href="/logout">Log Out<br></a>
</form>
{% endblock %}