{% extends "base.html" %}  
{% block content %}  
<h1>Register</h1>
<form action="" method="post" name="register" enctype="multipart/form-data">
    {{form.hidden_tag()}}  
    <p>  
        Please enter your Username below:<br>
        {{form.id(size=80)}}
        <span style="color: red;">{{error}}</span>  
        <br>  
    </p>
    <p>
        Please enter your Password below:<br>
        {{form.password(size=80)}}
        <span style="color: red;">{{error}}</span>
        <br>
    </p>
    <p>
        Please enter the path of image below:<br>
        {{form.filename}}
        <span style="color: red;">{{error}}</span>
        <br>
    </p>

    <p><input type="submit" value="Register"></p>
    <a href="/">Log in<br></a>
</form>  
{% endblock %}  